* {
    box-sizing: border-box;
}



/* Divide the each row in 12 columns of the same width */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
  font-family: sans-serif;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}

.standard-button{
    background-color: dodgerblue;
    color: white;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 7px;
    transition: all 200ms;
}

.standard-button:hover{
    opacity: 0.8;
}

.policies-section{
    margin: 50px 70px;
}

/*******************/
/* BASE STYLE */
/*******************/


.topnav {
  overflow: hidden;
  border-bottom: 3px solid black;
}
.topnav img:hover{
  transform: scale(1.1);
}
.topnav img, .topnav a{
  transition: all 200ms;
}

.topnav a {
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.left-menu, .right-menu, .middle-menu, .language-menu{
  display: block;
  float: left;
  height: 80px;
  line-height: 120px;
}

.language-menu a{
  padding: 5px 0px 0px 15px;
}

.right-language-container{
  float: right;
}

.middle-menu a:hover, .right-menu a:hover{
  background-color: black;
  color: #f2f2f2;
}

.topnav img:hover{
  transform: scale(1.1);
}

#hamburger-icon{
  display: none;
  margin-top: 22px;
  float: right;
}

.middle-menu a:hover, .right-menu a:hover{
  background-color: black;
  color: #f2f2f2;
}

.footer{
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #383838;
    text-align: center;
    color: white;
}

.footer div{
    display: inline-block;
    line-height: 170px;
}

.footer div img{
    vertical-align: middle;
}

.footer a{
    color: white;
}


/*******************/
/* BASE STYLE END */
/*******************/


/*******************/
/* LOGIN PAGE STYLE */
/*******************/

.login-father{
    text-align: center;
}

.login-child{
    width: 450px;
    margin: 50px auto;
    margin-bottom: 100px;
    padding: 10px 25px 30px 25px;
    text-align: left;
    border: 2px solid black;
    border-radius: 20px;
}
.more{
    margin-bottom: 285px;
}

.login-child input{
    width: 100%;
    font-size: 18px;
}

.error-message{
    color: red;
    background-color: lightgoldenrodyellow;
    border: 1px solid yellow;
    border-radius: 5px;
    padding: 5px;
}

.title{
    font-size: 30px;
}

/*******************/
/* LOGIN PAGE STYLE END */
/*******************/

/*******************/
/* SIGNUP PAGE STYLE */
/*******************/

.signup-child {
    width: 560px;
}

.signup-child a{
    text-decoration: none;
    color: black;
}
.signup-child a:hover{
    text-decoration: underline;
}

/*******************/
/* SIGNUP PAGE STYLE END */
/*******************/

/*******************/
/* HOME PAGE STYLE */
/*******************/

.tutorials{
    padding: 40px 0px;
    text-align: center;
    margin: auto;
    max-width: 600px;
}
.tutorials h3{
    margin-top: 40px;
}

.embed-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*******************/
/* HOME PAGE STYLE END */
/*******************/


/*******************/
/* EDITOR PAGE STYLE */
/*******************/
#error-container{
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
    min-height: 30px;
    max-height: 200px;
    width: 100%;
    display: none;
    color: red;
    padding: 5px;
    resize: vertical;
    overflow: auto;
}
#error-container p{
    margin: 0;
    padding: 0;
    width: 98%;
 }

.editor-tree-container{
    height: calc(97vh - 85px);
    width: 100%;
    padding: 10px;
}
.editor-tree-window{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    /*overflow: auto;*/
    position: relative;
}

/*******************/
/* EDITOR PAGE STYLE END */
/*******************/

/*******************/
/* PERSON LIST PAGE STYLE*/
/*******************/
.person-list{
    position: relative;
    display: inline-block;
    left: 50%;
    transform:translateX(-50%);
}
.person-list-sidetree-icon{
    position: absolute;
    border: none;
    padding: 2px;
    right: -4px;
    bottom: 6px;
}
.person-list-sidetree-icon:hover{
    transform:scale(1.2);
}
.person-list-person-description-icon{
    position: absolute;
    border: none;
    padding: 2px;
    right: 32px;
    bottom: 6px;
}
.person-list-person-description-icon:hover{
    transform:scale(1.2);
}
.person-data td+td{
    padding-left: 20px;
}
.person-data{
    position: relative;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
.person-data img{
    transition: all 200ms;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
}
.person-data .person-data-readmore-button{
    position: relative;
    display: block;
    left: 50%;
    transform:translateX(-50%);
    border-radius: 5px;
}
.main-data{
    display: inline-block;
}
.supplementary-data{
    padding-bottom: 5px;
    display: none;
}
.paginator{
    display: table;
    margin: 0 auto;
    margin-top: 15px;
}
.paginator a{
    font-size: large;
    text-decoration: none;
}

#search{
    margin: 20px 0px;
    position: relative;
}

#search input{
    width: 100%;
}

#search-content{
    display: none;
    position: absolute;
    min-width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 10px 5px;
    z-index: 2;
}

.person-link-data{
    display: block;
    margin-left: 45px;
    color: black;
}

.person-link{
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    padding: 5px;
    text-decoration: none;
    min-height: 50px;
}

/*******************/
/* PERSON LIST PAGE STYLE END */
/*******************/


/*******************/
/* PERSON PAGE STYLE*/
/*******************/
.person{
    position: relative;
    display: inline-block;
    left: 50%;
    transform:translateX(-50%);
}
.person-sidetree-icon{
    border: none;
    width: 25px;
    height: 25px;
    padding: 2px;
    position: absolute;
    right: -4px;
    top: 18px;
}
.person-sidetree-icon:hover{
    transform:scale(1.2);
}
.person-data td+td{
    padding-left: 20px;
}
.person-data{
    position: relative;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
.person-data img{
    transition: all 200ms;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
}
.person-data .person-data-readmore-button{
    position: relative;
    display: block;
    left: 50%;
    transform:translateX(-50%);
    border-radius: 5px;
}

.person-form{
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid black;
}



/*******************/
/* PERSON PAGE STYLE END */
/*******************/



/*STYLE FOR PHONES*/
@media screen and (max-width: 950px) {
    /*For phones we use only one column per row */
    [class*="col-"] {
        float: left;
        width: 100%;
    }

    .policies-section{
        margin: 30px 20px;
    }

    /*******************/
    /* BASE STYLE */
    /*******************/
    .topnav{
        position: relative;
    }

    .left-menu, .right-menu, .middle-menu, .language-menu{
        height: auto;
        line-height: normal;
        display: block;
        float: none;
    }

    .right-language-container, .middle-menu{
        float: none;
    }

    .dropdown-menu{
        display: none;
        width: 96%;
        position: fixed;
        z-index: 1;
        background-color: white;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
    }

    .right-menu a, .middle-menu a{
        display: block;
        border-top: 1px solid black;
    }

    .language-menu {
        padding: 10px 10px 5px 0px;
        border-top: 1px solid black;
    }

    #hamburger-icon{
        display: block;
    }

    .footer div{
        line-height: 15px;
        padding: 8px 0px;
    }

     /*******************/
    /* BASE STYLE END */
    /*******************/


    /*******************/
    /* LOGIN PAGE STYLE */
    /*******************/


    /*******************/
    /* LOGIN PAGE STYLE END */
    /*******************/

    /*******************/
    /* HOME PAGE STYLE */
    /*******************/
    .home-buttons-container{
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .home-buttons-container button{
        margin: 20px 0px 0px 0px;
    }
    /*******************/
    /* HOME PAGE STYLE END */
    /*******************/
}


/****************************************************************/
/* REACT STYLE */
/****************************************************************/
    .non-visible{
        visibility: hidden;
    }
    .turn-position a{
        left: 187px;
    }

    #root{
        height: 100%;
    }

    .editor-manager-class{
        height: 100%;
    }

/*Style for the loading circle*/
    .loading-screen{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 4;
    }
    .loading-icon{
        position: relative;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
    }

    .loading-icon-animation{
        animation-duration: 1s;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

/*Style for the modal windows*/
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 3;
    }
    .modal-main {
        position:fixed;
        background: white;
        border: 1px solid black;
        border-radius: 6px;
        padding: 20px;
        width: 90%;
        max-width: 700px;
        height: auto;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .display-block {
        display: block;
    }

    .display-none {
        display: none;
    }
    .close-button{
        position: absolute;
        height: 16px;
        width: 16px;
        right: 10px;
        top: 10px;
    }

/* Style for the menu*/
    .editor-menu-container{
        height: 100%;
        margin: 0px;
        padding: 10px;
        overflow: auto;
        position: absolute;
        z-index: 2;
        display: inline-block;
    }

    .editor-menu{
        height: 100%;
        width: calc(100% - 17px);
        background-color: white;
        border: 3px solid black;
        border-radius: 5px;
        padding: 10px;
        display:inline-block;
        float: left;
        max-width: 375px;
    }

    .editor-menu-display{
        background-color: #D3D3D3;
        border: 1px solid black;
        border-radius: 5px;
        height: 100%;
        padding: 0px;
        margin: 0px;
        display: inline-block;
    }
    #editor-menu-display-arrow{
        position: relative;
        top: 50%;
        font-size: large;
    }
    #editor-menu-display:hover{
        opacity: 0.6;
    }

    .editor-menu img{
        float: left;
        border: 1px solid black;
        border-radius: 5px;
        margin: 0px 10px 10px 0px;
        width: 75px;
        height: 90px;
    }

/*Style for the selectors*/
    .selectors-menu{
        position:absolute;
        margin-left: 30px;
        z-index: 1;
    }
    .zoom-tool{
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 131px;
        margin: 10px;
        padding: 5px 5px 2px 5px;
    }
    .zoom-tool img:hover{
        transform: scale(1.3);
    }
    #more-zoom{
        position: relative;
        bottom: 5px;
        margin-right: 10px;
    }
    #less-zoom{
        position: relative;
        bottom: 5px;
        margin-left: 10px;
    }

    .gen-selector{
        margin-left: 10px;
    }
    .gen-selector input {
        width: 131px;
    }

    .dir-selector{
        margin-left: 10px;
        margin-top: 10px;
    }

    #new-person-button{
        margin: 15px 0px 0px 10px;
        width: 131px;
    }

    #download-tree-button{
        position: relative;
        top: 75px;
        left: -131px;
        width: 131px;
    }


/*Style for different parts of the tree*/
    #tree-draggable-background{
        height: 100%;
        width: 100%;
        position: relative;
    }

    #tree-wrapper{
        position: relative;
        transform-origin: 0% 0%;
        transform: scale(1);
        top: 1px;
        left: 1px;
        height: 3000px;
        width: 3000px;
    }


/**************************************************
 STYLE FOR THE TREE
 */
* {
    box-sizing: border-box;
}

.parent-tree{
    position: absolute;
}

.node{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f5f5f5;
    height:80px;
    width:170px;
    display: inline-block;
    text-align: left;
    overflow: hidden;

    padding: 5px 10px 5px 5px;
    color: black;
    font-family: arial;
    font-size: 11px;
    position: relative;
    margin-bottom: 10px;

}

.node-root{
    background-color: honeydew;
}

.node .content{
        position: relative;
        height:100%;
        top:0%;
        left: 60px;
        width: 83px;
}

.node .node-date{
        position:absolute;
        top: 55px;
        left: 0px;
}

.node .person_photo{
        border: 1px solid black;
        border-radius: 4px;
        height: 68px;
        width: 56px;
        position: absolute;
}
.node .person_photo:hover{
        transform: scale(1.1);
}

.node+.node{
    margin-left: 15px;
}

.editor-manager-class table{
    margin: auto;
    text-align: center;
    /*border:1px solid yellow;*/
}
.editor-manager-class tr{
  margin-top: 10px;
}
.editor-manager-class td{
    text-align: center;
    padding: 15px;
    vertical-align:top;
    /*border: 1px solid black;*/
}

/*Para el árbol ascendente*/
.visibility-hidden{
    visibility: hidden;
}
.upper td{
    vertical-align:bottom;
}

.icon_img{
    position: absolute;
    height: 16px;
    width: 16px;
    right: 5px;
}
.icon_img:hover{
    transform: scale(1.2);
}

.add_icon{
    bottom: 13px;
}
.edit_icon{
    bottom: 35px;
}
.info_icon{
    bottom: 57px;
}
.switch-icon{
    bottom: 13px;
    right: 27px;
}

#canvas{
    position: absolute;
    z-index: 0
}