{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        <div class="tutorials">
            <h2>¡Aprende en unos sencillos pasos a usar nuestros servicios!</h2>

            <h3>Tutorial sobre el uso de la web.</h3>
            <div class="embed-container">
                <iframe src="https://www.youtube-nocookie.com/embed/ebvSTzA_ObU" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <h3>Tutorial para el manejo del editor.</h3>
            <div class="embed-container">
                <iframe src="https://www.youtube-nocookie.com/embed/ebvSTzA_ObU" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

{% endblock %}