<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>



<table>

    <tr>
        <td>
            <table class="upper">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="node up">
                                                                nino
                                                            </div>
                                                            <div class="node up">
                                                                nina
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="node up visibility-hidden">
                                                                ghost3
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <div class="node up">
                                                    ninone
                                                </div>
                                                <div class="node up">
                                                    ninona
                                                </div>
                                            </td>
                                            <td>
                                                <div class="node up">
                                                    bebepa1
                                                </div>
                                                <div class="node up">
                                                    bebepa2
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="node up">
                                        bebesito1
                                    </div>
                                    <div class="node up">
                                        bebesito2
                                    </div>
                                </td>
                                <td>
                                    <div class="node up visibility-hidden">
                                        ghost2
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="node up">
                            pedesito1
                        </div>
                        <div class="node up">
                            pedesito2
                        </div>
                    </td>
                    <td>

                        <div class="node up">
                            some
                        </div>
                    </td>
                </tr>
            </table>
<!--
            <div class="node up">
                pepe
            </div>
            <div class="node up">
                pepa
            </div>
        </td>
    </tr>
</table>



<table>
  <tr>
    <td>
-->
      <div class="node">
        <img class="person_photo"/>
        <div class="content">
            Nombre Apellidos Apellidos2
            <span class="node-date">2108-2018</span>
        </div>
        <img class="icon_img edit_icon" alt=""/>
        <img class="icon_img add_icon" alt=""/>
        <img class="icon_img info_icon" />
          <img class="icon_img switch-icon" />
      </div>

      <div class="node">
        <img class="person_photo"/>
        <div class="content">
            Nombre Apellidos Apellidos2
            <span class="node-date">2108-2018</span>
        </div>
        <img class="icon_img edit_icon" alt=""/>
        <img class="icon_img add_icon" alt=""/>
        <img class="icon_img info_icon" />
          <img class="icon_img switch-icon" />
      </div>

      <table>
        <tr>
          <td>
            <div class="node">
                <img class="person_photo"/>
                <div class="content">
                    Nombre Apellidos Apellidos2
                    <span class="node-date">2108-2018</span>
                </div>
                <img class="icon_img edit_icon" alt=""/>
                <img class="icon_img add_icon" alt=""/>
                <img class="icon_img info_icon" />
                  <img class="icon_img switch-icon" />
            </div>
            <table>
              <tr>
                <td>
                  <div class="node">
        <img class="person_photo"/>
        <div class="content">
            Nombre Apellidos Apellidos2
            <span class="node-date">2108-2018</span>
        </div>
        <img class="icon_img edit_icon" alt=""/>
        <img class="icon_img add_icon" alt=""/>
        <img class="icon_img info_icon" />
          <img class="icon_img switch-icon" />
      </div>
                </td>
                <td>
                  <div class="node">
                    rodovid2
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td>
            <div class="node">
              tomo
            </div>
          </td>
          <td>
            <div class="node">
              lomo
            </div>
            <table>
              <tr>
                <td>
                  <div class="node">
                    lomo1
                  </div>
                </td>
                <td>
                  <div class="node">
                    lomo2
                  </div>
                  <table>
                    <tr>
                      <td>
                        <div class="node">
                          lata
                        </div>

                          <table>
                              <tr>
                                  <td>
                                      <div class="node">
                                      latito
                                    </div>
                                  </td>
                              </tr>
                          </table>
                      </td>
                      <td>
                        <div class="node">
                          laton
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <div class="node">
                    lomo3
                  </div>
                    <div class="node">
                        lomope
                    </div>
                    <table>
                        <tr>
                            <td>
                                <div class="node">
                                lomotendo
                              </div>
                                <div class="node">
                                lomotenda
                              </div>
                                <table>
                                    <tr>
                                        <td>
                                            <div class="node">
                                            lomotenda
                                          </div>
                                            <div class="node">
                                            lomatenda
                                          </div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="node">
                                                        coco1
                                                      </div>
                                                    </td>
                                                    <td>
                                                        <div class="node">
                                                        coco2
                                                      </div>
                                                    </td>
                                                    <td>
                                                        <div class="node">
                                                        coco3
                                                      </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <div class="node">
                                            lomotendatt
                                          </div>
                                            <div class="node">
                                            lomotedino
                                          </div>

                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="node">
                                                        ddn
                                                      </div>
                                                    </td>
                                                    <td>
                                                        <div class="node">
                                                        ddh
                                                      </div>
                                                    </td>
                                                    <td>
                                                        <div class="node">
                                                        ddg
                                                      </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


    <style>

* {
    box-sizing: border-box;
}

.node{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    height:80px;
    width:170px;
    display: inline-block;
    text-align: left;
    overflow: hidden;

    padding: 5px 10px 5px 5px;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    position: relative;

}

.node .content{
        position: relative;
        height:100%;
        top:0%;
        left: 60px;
        width: 83px;
}

.node .node-date{
        position:absolute;
        top: 57px;
        left: 0px;
}

.node .person_photo{
        border: 1px solid black;
        border-radius: 4px;
        height: 68px;
        width: 56px;
        position: absolute;
}

table{
    margin: auto;
  text-align: center;
  border:1px solid yellow;
}
tr{
  margin-top: 10px;
}
td{
    text-align: center;
  padding: 15px;
  vertical-align:top;
  border: 1px solid black;
}

/*Para el árbol ascendente*/
.visibility-hidden{
    /*visibility: hidden;*/
    background-color: aliceblue;
}
.upper td{
    vertical-align:bottom;
}

svg {
    position: absolute;
    /*z-index: -1;*/

}

.icon_img{
    position: absolute;
    height: 16px;
    width: 16px;
    right: 5px;
}
.add_icon{
    bottom: 13px;
}
.edit_icon{
    bottom: 35px;
}
.info_icon{
    bottom: 57px;
}
.switch-icon{
    bottom: 13px;
    right: 27px;
}

    </style>

    <script>

    </script>
</body>
</html>